###  This is completely incorrect. Patchman-client needs to be executed periodically
#    because it shuts down after sending the report to the server.

[Unit]
Description=Patchman Client
After: multi-user.target

[Service]
ExecStart=/usr/sbin/patchman-client -s patchman.example.com

[Install]
Alias=patchman-client.service
